
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="submit"],
textarea {
  height: 50px;
  margin-bottom: 15px;
}

.ltn__header-5 .ltn__header-middle-area, .ltn__header-5 .ltn__header-middle-area.sticky-active{
  padding-top: 0px;
  padding-bottom: 0px;
}
.modal-header{
    padding: 1rem;
    border: 1px solid #e9ecef;
}
.modal-header h5{
  margin-top: 0;
}
.ltn__breadcrumb-list ul li{
  font-size: 12.5px;
  font-weight: 400;
  margin-top: 0;
}

.loading {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  max-width: 100%;
}

.loading > div {
  width: 10vmax;
  height: 10vmax;
  border-bottom: 5px solid #1b1b1b;
  border-radius: 50%;
  -webkit-animation: loadingRotate 800ms linear infinite;
          animation: loadingRotate 800ms linear infinite;
}

@-webkit-keyframes loadingRotate {
  to {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

@keyframes loadingRotate {
  to {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}